@media screen and (max-width:900px) {
   
}
.hl{
    background-color: orange;
}

.r1{
   
    height: 410px;
   
  

}

.imm1{
    width:20%;
    height: 35%;
    
   
}

.logo1{
    width: 100%;
    position: relative;
   top:-400px;
   
  
}
@media (max-width:900px) {
    .logo1{
        width: 100%;
       
    }
}



.location{
    width: 18%;
    position: relative;
    top:-490px;
    left:400px;
    
    
   
}
@media (max-width:800px) {
   .location{

    position: relative;
    
   
   }    
}

.Search{
    width: 200px;
    position: relative;
    top:-550px;
    left:800px;
    
   
}
.sp1{
    width: 100px;
    
    position: relative;
    top:-600px;
    left: 1300px;
   
}
.sp2{
    width: 100px;
    
    position: relative;
    top:-640px;
    left: 0px;
    float:right;

}
@media (max-width:900px)
{
 .imm1{

   width:10%;
   height: 20%;
 }
 .sp1{
    position: relative;
    left: 550px;
 }
 .Search{

    position: relative;
    left: 200px; 
   
    width: 20%;
 }
 

}
.boxt{

 height:200px ;
 width: 70%; 
 position: relative;
 top:-500px; 
 
 
 
}
.t1{
    width: 100px;
    height: 150px;
   
   float: left;
   padding: 15px;
   
}
.or1{

    width: 60%;
    height: 300px;
    position: relative;
    left:600px;
    top:50px;
  
    
   
    
}
.rt1{
    background-color:aqua;
    height: 400px;
    width: 100%;
    position: relative;

    
    
}
@media (max-width:900px)
{
    .rt1{
        position: relative;
        top: 190px;
    }
}
.or1text{
    
   
    width: 30%;
    position: relative;
    top:-230px;
    right: 950px;
    float: left;
  
    
   
    
}

.rt1:hover{
    -webkit-text-fill-color:white;
}
.sp1:hover{
    -webkit-text-fill-color: blue;
}
.sp2:hover{
    -webkit-text-fill-color: blue;
}
.Search:hover{
    -webkit-text-fill-color:blue;
}
.location:hover{
    -webkit-text-fill-color: blue;
}

.BA{
    
    padding:20px;
    
    background-color:#32a4a8;
    height: 60px;
    position: relative;
    top: -80px;
    text-align: center;
}
.BA:hover{
    text-shadow: 0 0 20px orange, 0 0 40px yellow;
}

    

.bx1{
   border-style: solid;
    height: 300px;
    width: 80%;
    position: relative;
       top: 150px;
       left: 150px;
       border-radius: 10px;
       background-color:lightsalmon ;

}
.ibx1{
    height: 300px;
    width: 40%;
    position: relative;
    
    background-color:lightgreen;
    object-fit: cover;

}
.iibx1{
    position: relative;
    top:-130px;
    left: 50px;
}
.tbx1{
    width: 50%;
    height: 250px;
 
    position: relative;
    top:-270px;
    left: 550px;
}

.pbx1{
    border-radius: 5px;
    padding: 5px;
    background-color: #339d3a;
    height: 27px;
    width: 150px;
    display: inline-flex;
    -webkit-box-align: center;
    float: left;
   
}
.bbx1{
    border-radius: 5px;
    padding: 5px;
    background-color:blue;
    height: 27px;
    width: 150px;
    display: inline-flex;
    -webkit-box-align: center;
    
    
  
    
}
.Lbx1{
    border-radius: 5px;
    padding: 5px;
    background-color:blueviolet;
    height: 27px;
    width: 150px;
    display: inline-flex;
    -webkit-box-align: center;
    float:right;
   
    
}


.t1:hover{
    transform: scale(0.5);
    transform: scale(1.5);
    
}

.bbx1:hover{
    transform: scale(1.2);
    
}
.Lbx1:hover{
    transform: scale(1.2);
    
}
.pbx1:hover{
    transform: scale(1.2);
    
}
.iibx1:hover{
    
    transform: scale(1.1);
}
.bx1:hover{
    box-shadow:0 0 20px gray, 0 0 40px  gray;
}



